body{
    background-image: url("https://t4.ftcdn.net/jpg/00/69/42/49/360_F_69424905_vxTpRGAcVKni9157VpKAOG6MpTX30etl.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
h1{
    font-family: 'Pacifico', cursive;
    color: black;
    font-size: 50px;
    text-shadow: 5px 5px whitesmoke;
}
#btn{
    background-color: cornflowerblue;
    color: whitesmoke;
    border-radius: 20%;
    box-shadow: 5px 5px black;
    height: 40px;
    width: 80px;
}
canvas{
    margin-top: 150px;
}
